---
title: Klaus MultiBase
description: Klaus MultiBase Systems - Automated Parking Solutions
navActive: products
---
{% extends "layout.njk" %}

{% block content %}
  <!-- Product Detail Header -->
  <div class="m3-product-detail m3-product-detail--trendvario">
    <div class="m3-product-detail__container">
      <div class="m3-product-detail__grid">
        <div class="m3-product-detail__image">
          <img src="assets/img/NEU_schemaclip-multibase-2072i.gif" alt="MultiBase System" class="m3-product-detail__img">
        </div>
        <div class="m3-product-detail__info">
          <div class="m3-product-detail__title">
            <img src="assets/img/MultiBaseBanner.svg" alt="MultiBase">
          </div>
          <p class="m3-product-detail__description">Lowest-Cost / Highest-Density per square foot / Highest Throughput automated Parking Systems.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Product Grid -->
  <div class="m3-grid">
    <article class="m3-card">
      <a href="MultiBase2072i.html" class="m3-card__media-link">
        <img src="assets/img/Multibase2072i.gif" alt="MultiBase 2072i System" class="m3-card__media">
      </a>
      <div class="m3-card__header">
        <a href="MultiBase2072i.html">
          <img src="assets/img/KLAUS_Logo_MultiBase_2072i.svg" alt="MultiBase 2072i">
        </a>
      </div>
      <div class="m3-card__content">
        <p class="m3-card__description">Higher Throughput & Faster Access than "Puzzle" Systems</p>
      </div>
      <div class="m3-card__actions">
        <a href="MultiBase2072i.html" class="m3-button m3-button--text">
          Details
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5l8 7-8 7V5z"/>
          </svg>
        </a>
      </div>
    </article>

    <article class="m3-card">
      <a href="MultiBase2078i.html" class="m3-card__media-link">
        <img src="assets/img/Multibase2078i.gif" alt="MultiBase 2078i System" class="m3-card__media">
      </a>
      <div class="m3-card__header">
        <a href="MultiBase2078i.html">
          <img src="assets/img/KLAUS_Logo_MultiBase_2078i.svg" alt="MultiBase 2078i">
        </a>
      </div>
      <div class="m3-card__content">
        <p class="m3-card__description">Stacking with Lower Ceiling Heights</p>
      </div>
      <div class="m3-card__actions">
        <a href="MultiBase2078i.html" class="m3-button m3-button--text">
          Details
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5l8 7-8 7V5z"/>
          </svg>
        </a>
      </div>
    </article>

    <article class="m3-card">
      <a href="MultiBaseG63.html" class="m3-card__media-link">
        <img src="assets/img/MultibaseG63.gif" alt="MultiBase G63 System" class="m3-card__media">
      </a>
      <div class="m3-card__header">
        <a href="MultiBaseG63.html">
          <img src="assets/img/KLAUS_Logo_MultiBase_G63.svg" alt="MultiBase G63">
        </a>
      </div>
      <div class="m3-card__content">
        <p class="m3-card__description">3-Level Independent Parking</p>
      </div>
      <div class="m3-card__actions">
        <a href="MultiBaseG63.html" class="m3-button m3-button--text">
          Details
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5l8 7-8 7V5z"/>
          </svg>
        </a>
      </div>
    </article>

    <article class="m3-card">
      <a href="MultiBaseU10.html" class="m3-card__media-link">
        <img src="assets/img/MultibaseU10.gif" alt="MultiBase U10 System" class="m3-card__media">
      </a>
      <div class="m3-card__header">
        <a href="MultiBaseU10.html">
          <img src="assets/img/KLAUS_Logo_MultiBase_U10.svg" alt="MultiBase U10">
        </a>
      </div>
      <div class="m3-card__content">
        <p class="m3-card__description">Pop-Up Parking Under the Drive Aisle that can be Driven Over</p>
      </div>
      <div class="m3-card__actions">
        <a href="MultiBaseU10.html" class="m3-button m3-button--text">
          Details
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5l8 7-8 7V5z"/>
          </svg>
        </a>
      </div>
    </article>

    <article class="m3-card">
      <a href="MultiBaseU20.html" class="m3-card__media-link">
        <img src="assets/img/MultibaseU20.gif" alt="MultiBase U20 System" class="m3-card__media">
      </a>
      <div class="m3-card__header">
        <a href="MultiBaseU20.html">
          <img src="assets/img/KLAUS_Logo_MultiBase_U20.svg" alt="MultiBase U20">
        </a>
      </div>
      <div class="m3-card__content">
        <p class="m3-card__description">2-Levels of Pop-Up Parking Under the Drive Aisle</p>
      </div>
      <div class="m3-card__actions">
        <a href="MultiBaseU20.html" class="m3-button m3-button--text">
          Details
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5l8 7-8 7V5z"/>
          </svg>
        </a>
      </div>
    </article>
  </div>

  <!-- Pre-footer Image -->
  <img class="m3-footer__pre-image" src="assets/img/P&Scropped.svg" alt="">
{% endblock %}
