<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/faviconV2.png">
  <link rel="stylesheet" href="fonts/roboto/300.css">
  <link rel="stylesheet" href="fonts/roboto/400.css">
  <link rel="stylesheet" href="fonts/roboto/500.css">
  <link rel="stylesheet" href="fonts/roboto/700.css">
  <link rel="stylesheet" href="fonts/saira/300.css">
  <link rel="stylesheet" href="fonts/saira/400.css">
  <link rel="stylesheet" href="fonts/saira/500.css">
  <link rel="stylesheet" href="fonts/saira/600.css">
  <link rel="stylesheet" href="fonts/saira/700.css">
  <link rel="stylesheet" href="fonts/saira-semi-condensed/300.css">
  <link rel="stylesheet" href="fonts/saira-semi-condensed/400.css">
  <link rel="stylesheet" href="fonts/saira-semi-condensed/500.css">
  <link rel="stylesheet" href="fonts/saira-semi-condensed/600.css">
  <link rel="stylesheet" href="fonts/saira-semi-condensed/700.css">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/material3-theme.css">
</head>
